.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;

  font-family: $font-main;
  font-size: 16px;
  text-align: center;

  border-radius: 4px;

  cursor: pointer;

  transition: 0.4s ease-in-out;

  &--color {
    padding: 8px 20px;

    color: $bg-text-color;

    background-color: $accent-bg;
    border: 1px solid $accent-bg;

    &:hover,
    &:active {
      color: $accent-text-color;

      background-color: $base-bg;
    }
  }

  &--default {
    padding: 8px 20px;

    color: $accent-text-color;

    background-color: $base-bg;
    border: 1px solid $base-bg;

    &:hover,
    &:active {
      color: $bg-text-color;

      background-color: $accent-bg;
      border: 1px solid $accent-bg;
    }
  }
}
