.filters {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
    padding-right: 20px;
  }
}

.filters__legend {
  margin-bottom: 20px;
  padding: 0;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.filters__group {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin: 0;
  padding: 0;

  border: none;
}

.filters__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.filters__button {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
