.filters {

}

.filters__price {

}

.filters__legend {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 22px;
}

.filters__group {
  min-width: 240px;
}

.filters__radio {

}

.filters__toggle {

}

.filters__buttons {

}

.filters__button {

  &--submit {

  }

  &--reset {

  }
}
