.footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    padding: 40px 40px 0;
  }
}

.footer__section {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;

  border-bottom: 1px solid $accent-light-bg;

  @media (min-width: $tablet-width) {
    max-width: unset;
    margin: 0;
    padding: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }

  &--social {
    display: flex;
    grid-column: 1 / -1;
    gap: 38px;
    padding: 20px;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
      padding: 42px 0 32px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      justify-content: start;
      grid-column: 1 / 2;
      gap: 50px 0;
      padding: 0;
    }
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2px 0;

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  .logo__image {
    width: 82px;

    @media (min-width: $tablet-width) {
      width: 170px;
    }
  }
}

.footer__title {
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $accent-text-color;
}

.footer__copyright {
  grid-column: 1 / -1;
  max-width: 768px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: unset;
    margin: 0;
  }
}
