.header {
  position: relative;
}

.header__container {
  position: initial;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header__logo {
  align-items: center;
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    padding: 22px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 40px;
  }

  .logo__text {
    @media (min-width: $desktop-width) {
      max-width: 126px;
    }
  }
}

.header__nav {
  display: contents;
}
