.radio {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:active {
    .radio__field-custom {
      border-color: $accent-bg;
    }
  }

  &:focus-within {
    border-radius: 1px;
    outline: 2px solid;
    outline-offset: 5px;
  }
}

.radio__field {
  appearance: none;

  &:checked + .radio__field-custom {
    border-color: $accent-bg;
  }

  &:checked + .radio__field-custom::after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 16px;
    height: 16px;

    background-color: $accent-bg;
    border-radius: 50%;

    transform: translate(-50%, -50%);

    content: "";
  }

  &:disabled + .radio__field-custom {
    background-color: $base-bg;
    border-color: $inactive-bg;

    cursor: default;
  }

  &:disabled ~ .radio__label {
    color: $add-text-color;
  }

  &:disabled + .radio__field-custom::after {
    background-color: $inactive-bg;
  }
}

.radio__field-custom {
  position: relative;

  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  background-color: $base-bg;
  border: 2px solid $non-select-bg;
  border-radius: 50%;

  transition: border-color 0.2s ease-in-out;
}

.radio__label {
  font-size: 16px;
  line-height: 1.5;

  transition: color 0.2s ease-in-out;
}
