.sort {
  position: relative;

  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  gap: 8px;
  width: max-content;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }

  @media (min-width: $tablet-width) {
    gap: 12px;
  }

  &.no-js {
    display: none;
  }
}

.sort__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.sort__current {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: lowercase;
  color: $accent-text-color;

  background: none;
  border: none;

  cursor: pointer;

  transition: color 0.4s ease-in-out;
}

.sort__current[aria-expanded="true"] {
  .sort__icon {
    transform: rotate(180deg);
  }
}

.sort__icon {
  display: block;
  width: 10px;
  height: 10px;

  transition: transform 0.4s ease-in-out;
}

.sort__list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 100;

  overflow: hidden;
  width: 100%;

  background-color: $base-bg;
  box-shadow: $cardShadow;
  border-radius: 4px;
}

.sort__option {
  padding: 10px;

  font-size: 16px;
  line-height: 1.5;
  text-transform: lowercase;

  cursor: pointer;

  transition: 0.4s ease-in-out;

  &:hover,
  &:active {
    background: $non-select-bg;
  }

  &:focus {
    background: $non-select-bg;
    outline: none;
  }

  &--selected {
    font-weight: 700;
    color: $bg-text-color;

    background-color: $accent-bg;

    pointer-events: none;

    &:focus {
      background-color: $accent-bg;
      outline: none;
    }
  }
}
